<link rel="stylesheet" href="/css/footer.css" />
<footer class="main-footer">
  <ul class="main-footer__club">
    <h4>Club</h4>
    <li class="main-footer__club-li">
      <a class="main-footer__link" href="/who">Who</a>
    </li>
    <li class="main-footer__club-li">
      <a class="main-footer__link" href="/staff">Members</a>
    </li>
    <li class="main-footer__club-li">
      <a class="main-footer__link" href="/attendance">Attendance</a>
    </li>
    <li class="main-footer__club-li">
      <a class="main-footer__link" href="/bylaws">Bylaws</a>
    </li>
  </ul>
  <ul class="main-footer__social">
    <h4>Social</h4>
    <li class="main-footer__social-li">
      <a class="main-footer__link" href="/register">Live Chat</a>
    </li>
    <li class="main-footer__social-li">
      <a class="main-footer__link" href="/join">Join</a>
    </li>
  </ul>
  <ul class="main-footer__support">
    <h4>Support</h4>
    <li class="main-footer__support-li">
      <a class="main-footer__link" href="/contact">Contact</a>
    </li>
    <li class="main-footer__support-li">
      <a class="main-footer__link" href="/bylaws">Edit Bylaws</a>
    </li>
  </ul>
  <ul class="main-footer__website">
    <li class="main-footer__website-li">
      <span class="main-footer__link">
        <img
          class="main-footer__img"
          src="https://img.icons8.com/nolan/64/copyright.png"
          width="20"
          height="20"
        />
      </span>
      <span> Alexander Khazzam </span>
    </li>
    <li class="main-footer__website-li">
      <span> Built with</span>
      <span class="main-footer__link">
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
          target="_blank"
        >
          <img
            src="https://img.icons8.com/nolan/64/js.png"
            height="40"
            width="35"
          />
        </a>
        ,
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTML"
          target="_blank"
        >
          <img
            src="https://img.icons8.com/nolan/64/html-filetype.png"
            width="35"
            height="35"
          />
        </a>
        ,
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/CSS"
          target="_blank"
        >
          <img
            src="https://img.icons8.com/nolan/64/css-filetype.png"
            width="35"
            height="35"
          />,
        </a>
        <a href="https://docs.mongodb.com/" target="_blank">
          <img
            src="https://img.icons8.com/color/48/000000/mongodb.png"
            height="35"
            width="35"
          />
        </a>
      </span>
    </li>
  </ul>
</footer>
