<link rel="stylesheet" href="/css/navbar.css" />
<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
  <a class="main-nav__logo" href="/homepage"
    ><img src="/assets/icons/navbar/school-logo.png" height="75" width="75"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown nav-li__about">
        <a
          class="nav-link dropdown-toggle main-nav__link about"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item main-nav__link link-dropdown" href="/staff"
            >Officers & Members</a
          >
          <a
            class="dropdown-item main-nav__link link-dropdown"
            href="/attendance"
            >Attendance</a
          >
          <a class="dropdown-item main-nav__link link-dropdown" href="#">Who</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item main-nav__link link-dropdown" href="/bylaws"
            >Bylaws</a
          >
          <a
            class="dropdown-item main-nav__link link-dropdown"
            href="/this-website"
            >This Website</a
          >
        </div>
      </li>
      <li class="nav-item active nav-li__join">
        <a class="nav-link main-nav__link" href="/join/?locationSearched=false"
          >Join <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item nav-li__contact">
        <a class="nav-link main-nav__link" href="/contact/?submitted=fail"
          >Contact</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/help" method="POST">
      <input
        class="form-control mr-sm-2 main-nav__search-bar"
        type="search"
        placeholder="Search..."
        aria-label="Search"
        name="searchValue"
      />
      <li class="nav-item auth-li main-nav__auth-li-signin">
        <a
          class="nav-link main-nav__link main-nav__auth"
          href="/secure/login"
          target="_blank"
        >
          <button type="button" class="btn btn-outline-dark">Log In</button></a
        >
      </li>
      <li class="nav-item auth-li main-nav__auth-li-login">
        <a
          class="nav-link main-nav__link main-nav__auth"
          href="/secure/register"
          target="_blank"
        >
          <button type="button" class="btn btn-outline-success">
            Sign Up
          </button></a
        >
      </li>
    </form>
  </div>
</nav>
