<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Under Construction</title>
    <link rel="stylesheet" href="/css/bylawDropbox.css" />
    <link rel="stylesheet" href="/css/construction.css" />
    <%- include("../includes/bootstrap.ejs") %>
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <h1 class="coming-soon"></h1>
    <h3
      style="
        color: navy;
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
        margin-bottom: 20px;
      "
    >
      Helpful Links
    </h3>
    <ul
      class="list-group"
      style="
        width: 50% !important;
        margin: auto !important;
        text-align: center !important;
      "
    >
      <li class="list-group-item">
        <a
          href="/secure/register"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Register</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/secure/login"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Log In</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/staff"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Officers & Members</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/join"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Join</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/contact"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Contact</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/attendance"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Attendance</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/who"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Who</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/this-website"
          class="help-link"
          style="text-decoration: underline; color: black"
          >This Website</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/bylaws"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Bylaws</a
        >
      </li>
    </ul>
  </body>
  <script src="/js/client/construction.js" defer></script>
</html>


<% for (let i = 0; i <= speakerFound.length - 1; i++) { %>
  <div class="guest-speaker leonor shadow-lg p-3 mb-5 bg-white rounded" style=" margin: auto; text-align: right; width: 80%; position: relative; padding: 30px !important; height: fit-content;">
    <h1 style="color: white; text-align: center; margin-bottom: 40px;" class="writeable-guest-1"><%= `${speakerFound[i].speaker.split("-")[0] + " " + speakerFound[i].speaker.split("-")[1]}` %></h1>
    <div class="guest-img" style="margin: auto; text-align: center;">
        <img src="/assets/images/speakers-trips/leonor.jpg" width="200" height="250" style="box-shadow: 7px 7px 10px rgba(53, 50, 50, 0.87); border-radius: 50%;"/>
    </div>
    <h4 style="text-align: center; color: black; text-decoration: underline; margin-bottom: 0px; margin-top: 50px;">About</h4>
    <p style="color: white; text-align: center; margin-top: 20px;">
     <%= speakerFound[i].about %>
    </p>
    <h4 style="text-align: center; color: black; text-decoration: underline; margin-bottom: 0px; margin-top: 50px;">What They Talked About</h4>
  </div>
<% } %>
