<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Under Construction</title>
    <link rel="stylesheet" href="/css/bylawDropbox.css" />
    <link rel="stylesheet" href="/css/construction.css" />
    <%- include("../includes/bootstrap.ejs") %>
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <h1 class="coming-soon"></h1>
    <h3
      style="
        color: navy;
        text-align: center;
        margin-top: 10%;
        font-weight: bold;
        margin-bottom: 20px;
      "
    >
      Helpful Links
    </h3>
    <ul
      class="list-group"
      style="
        width: 50% !important;
        margin: auto !important;
        text-align: center !important;
      "
    >
      <li class="list-group-item">
        <a
          href="/secure/register"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Register</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/secure/login"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Log In</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/staff"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Officers & Members</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/join"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Join</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/contact"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Contact</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/attendance"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Attendance</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/who"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Who</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/this-website"
          class="help-link"
          style="text-decoration: underline; color: black"
          >This Website</a
        >
      </li>
      <li class="list-group-item">
        <a
          href="/bylaws"
          class="help-link"
          style="text-decoration: underline; color: black"
          >Bylaws</a
        >
      </li>
    </ul>
  </body>
  <script src="/js/client/construction.js" defer></script>
</html>
