<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bylaws</title>
    <%- include("../includes/bootstrap.ejs") %>
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <div
      class="bylaws-wrapper shadow-lg p-3 mb-5 bg-white rounded"
      id="bylaw-main-wrapper"
    >
      <div class="alert alert-primary bylaw-edit-link" role="alert">
        Want to edit these bylaws? Click
        <a href="bylaw-dropbox/?emailSent=null" target="_blank">Here</a>
      </div>
      <div class="bylaw-content-wrapper">
        <div class="bylaws-title">The Foreign Affairs Club Bylaws</div>
        <br />
        <br />
        <br />
        <span class="bylaws-description">
          Thanks to the original officers of this club, the following bylaws
          will be set into motion during March of 2020, and must be followed by
          all current and future members and officers for as long as this club
          remains standing. The purpose of these rules are to—well, just read
          the following and you’ll find out. Let’s have an amazing year!
        </span>
        <br />
        <br />
        <br />
        <span class="bylaw-elections" style="text-decoration: underline;">Staff</span>
        <br />
        <br />
        <span class="bylaws-president">
          <span class="bylaws-president__title">President (1) </span>
          go over and help create presentations/material for meetings, organize and put field trips into effect. Must have exceptional communication skills, a neutral point of view towards foreign affairs (during meetings, that is), and the ability to manage the entire officer body.
        </span>
        <br />
        <br />
        <span class="bylaws-vice-president">
          <span class="bylaws-vice-president__title"> Vice President (2)</span>
          make presentations/slides for meetings (and then pass them on to the president for revision), find new ways to improve the club and its meetings, understand the policies of the club, assist other officers in completing their duties, make sure meetings run smoothly. Must have an understanding of foreign affairs and be able to educate themsleves about it (i.e, reading articles and newspapers).
        </span>
        <br />
        <br />
        <span class="bylaws-secretary">
          <span class="bylaws-secretary__title">Secretary (1)</span>keep track of who comes to the meetings, create a well-organized attendance list, record what occurs during meetings, update the Google Classroom "classwork" section, and contribute to meetings. Must have exceptional time-management skills.
        </span>
        <br />
        <br />
        <span class="bylaws-treasurer">
          <span class="bylaws-treasurer__title">Treasurer(1)</span>
          raise and collect money from members and other students, manage and record money being spent on field trips/club events, control money flow in and out of the club, find new ways to improve the club and its meetings, and actively participate during them. Must be thrifty and be able to manage money well.
        </span>
        <br />
        <br />
        <span class="bylaws-speaker">
          <span class="bylaws-speaker__title"> Speaker(1) </span>Talk Talk to members about certain events coming up (field trips/club events), facilitate debates during meetings, find new ways to improve the club and its meetings. Must have exceptional communication skills, not be afraid to speak, and be able to maintain order during meetings.
        </span>
        <br />
        <br />
      </span>
      <span class="bylaws-speaker">
        <span class="bylaws-speaker__title">Public Relations (1)</span>Take charge of inviting people to the Google Classroom, put up posters across the school, promote the club through any means necessary. Public Relations officers must be responsible for researching possible field trip locations and getting into contact with possible guest speakers. Must be outgoing, have exceptional communication skills, be able to speak very well and not be embarrased to contact (call and email) big organizations and establish relations with them.
      </span>
      <br />
        <br />
        <br />
        <span class="bylaw-elections"  style="text-decoration: underline;">Elections</span>
        <br />
        <br />
       
Once every 2 quarters, if there is a vacancy in one of the above officer positions, an election will be held to fill that spot. To be a candidate, one must have come to 80% of the meetings for 2 consecutive quarters prior to the election. The candidate must also be approved by a majority of the club staff. This rule is set into motion to prevent simply anyone from becoming an officer; coming to 80% of meetings, but not demonstrating officer-qualities nor actively participating is an example of someone who is not able to run. To be able to vote during this election, one must have come to at least 40% of the meetings for 2 consecutive quarters prior to the election. If you are currently holding an Officer position and want to occupy the vacant spot, you are also able to run as a candidate; if you lose, you are able to return to your previous Officer position, and if you win, you must occupy your new Officer position for at least 2 quarters before running for another position.

        <br />
        <br />
        Candidates will answer foreign affairs-related questions with the school’s buzzer-beater system and give speeches. The winner of the “quizbowl” will be awarded 1 vote, and the overall winner will be determined by popular vote.
        <br />
        <br />
        <br />
        <span class="bylaw-challenges" style="text-decoration: underline;">Challenges</span>
        <br />
        <br />
        Once every 2 quarters (not coinciding with elections), any officer is able to be challenged for their position. To be able to challenge an officer, one must have come to 90% of the meetings for 2 consecutive quarters prior to the challenging and displayed active and appropriate participation in those meetings (which will be determined by the club staff and advisor). The current officer and the challenger will engage in a short trivia contest and will be asked foreign affairs-related questions by the president (and other staff members) and will be giving speeches as well. The winner of the trivia contestant will be awarded 1 vote. People who have come to at least 40% of the meetings for 2 consecutive quarters prior to the challenge are able to vote. Officers can only be challenged after they’ve occupied their position for a minimum of 1 year, and are able to be challenged a maximum of two times by the same person. Any officer is able to challenge another officer, and if that officer wins the election, the defendant will be forced to vacate their officer position, relinquishing it to the challenger. An election will be held to fill the spot of the challenger.

        <br />
        <br />
        The President is only able to be challenged after they’ve been in office for 1 year, and the opportunity to challenge the President is available once every 2 quarters. Anyone can challenge the President, as long as he or she has attended 90% of meetings for 2 consecutive years, as well as having occupied an officer position for two consecutive quarters prior to the challenge. There will be a trivia contest as well, and the other officers will be asking the questions. The winner of the “quizbowl” will be awarded 1 vote, and the overall winner will be determined by popular vote.

        <br />
        <br />
        <br />
        <span class="bylaw-officer-rules" style="text-decoration: underline;">Officer Rules</span>
        <br />
        <br />
        If you are a staff member and fail to come to at least 80% of the meetings for 2 consecutive quarters, you will be demoted to the status of “member,” and will be forced to vacate your Office position immediately; the 20% of absences must be excused.
        <br />
        <br />
        <br />
        <span class="bylaw-member-information" style="text-decoration: underline;">Member Information</span>
        <br />
        <br />
        To be a member, one must come to at least 40% of the meetings for 1 school year, and members are able to write this on his or her college transcript. This is commonly known as "club credit”. Do not lie about being a member, since the guidance department will confirm your activity with the club advisor and secretary. Keep in mind that just coming for a few minutes does not qualify as attending the meeting (unless you have after school sports/makeup tests); you must stay for at least 15-30 minutes.
        <br />
        <br />
        <br />
        <span class="bylaw-what-we-do" style="text-decoration: underline;">What We Do</span>
        <br />
        <br />
        Kahoots, debates, present slides/material, play jeopardy, have meaningful discussions about world policies and occurrences, have guest speakers, and go on awesome field-trips.
      </div>
    </div>
  </body>
  <link rel="stylesheet" href="/css/bylaws.css" />
</html>
