<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="/css/homepage.css" />
    <script src="/js/client/homepage.js" defer></script>
    <%- include("../includes/bootstrap.ejs") %>
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <div class="homepage-main__background-image"></div>
    <h1 class="homepage-opening-text"></h1>
    <h1 class="writeable-club-text">The Foreign Affairs Club</h1>
    <div class="main-buttons-wrapper">
      <a href="/join">
        <button type="button" class="btn btn-primary homepage-btn--cta">
          Join
        </button>
      </a>
      <a href="/who">
        <button type="button" class="btn btn-outline-primary homepage-btn--cta">
          Learn More
        </button>
      </a>
    </div>
  </body>
</html>
