<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who</title>
    <%- include("../includes/bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/who.css">
    <script src="/js/client/who.js" defer></script>
</head>
<body>
    <%- include("../includes/navbar.ejs") %>
    <h4 class="who-text" style="color: white; text-align: left; margin-left: 15%; margin-top: 5%; text-decoration: underline;"></h4>
    <p style="color: white; text-align: center; padding-right: 15%; padding-left: 15%;letter-spacing: 2px; line-height: 35px; font-size: 1.1rem; margin-top: 5%; padding-bottom: 0px; margin-bottom: 200px; padding-top: 0px;">
        We are the Foreign Affairs Club, one of the many well, <i>clubs</i>, at
        <a href="https://www.greatneck.k12.ny.us/nhs" target="_blank" style="color: navy !important; font-weight: bold;">Great Neck North High school</a>
        <br>
        <br>
        <span style="color: navy; font-weight: bold;">Our goal is simple:</span> we strive
            to make everyone aware about important events that are occuring all
            around the globe. To truly be successful in life, one must
            understand the world that they live in&mdash;not just their own
            little microcosm, but places around them as well; how does foreign
            policy work; what influences foreign policy; how does a country's
            economic state influence its decisions; what makes a communist
            country, well, communist? <br />
            <br />
            These are just some of the questions that we seek to answer in the
            Foreign Affairs Club. Through debates, lectures and meaningful
            discussions, we explore a whole new world that leaves us infinitely
            more knowledgeable, yet equally amazed.
    </p>
</body>
</html>