@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(
    to bottom right,
    rgba(12, 206, 206, 0.85),
    rgba(133, 10, 204, 0.85)
  );
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.dropdown-item:hover {
  opacity: 1.5 !important;
  font-weight: bold !important;
  background-color: transparent !important;
}

.dropdown-item,
.dropdown-item:link,
.dropdown-item:visited {
  letter-spacing: 2px !important;
  font-size: 1rem !important;
  text-decoration: none !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
  cursor: pointer !important;
}

.dropdown-item:hover,
.dropdown-item:active {
  font-weight: bolder !important;
  -webkit-transform: translateY(-2px) !important;
  transform: translateY(-2px) !important;
  text-shadow: 0 0.5rem 1rem black !important;
}

.year-readonly {
  width: 150px !important;
  float: left !important;
  margin-top: 16px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin-left: 10% !important;
}

.toggle-years {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.card {
  width: 80% !important;
  margin: auto !important;
  border-radius: 0px !important;
}

.card-body__person {
  display: inline-block;
  margin: 5px;
}

.number {
  color: rgb(0, 0, 165);
  font-weight: bolder;
}

.card-body__link {
  color: black;
}

.card-body__link::first-letter {
  font-weight: bold;
}

.people {
  text-align: center;
  padding: 0px;
}
