@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(
    to bottom right,
    rgba(12, 206, 206, 0.85),
    rgba(133, 10, 204, 0.85)
  );
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  /* -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; */
}

.year-alert__wrapper {
  letter-spacing: 1px !important;
  margin-top: 15%;
  float: left;
  margin-left: 10%;
  width: 194.88px;
}

.collapsible-card-1 {
  border-top-left-radius: 0px !important;
}

.year {
  font-weight: bolder !important;
}

.bootstrap-year-alert {
  letter-spacing: 1px !important;
  width: 100% !important;
  margin-bottom: 0px !important;
  padding-left: 30px !important;
  color: black !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.choose-year-btn__dropdown {
  letter-spacing: 1px !important;
  margin-top: 15% !important;
  width: 194.88px !important;
  height: 50px !important;
  display: inline-block !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.attendance-collapsible-section {
  position: absolute;
  margin-left: 50% !important;
}

.card-body ul {
  width: 100%;
  text-align: center;
  padding: 0px !important;
  margin: 0px !important;
}

.card-body li {
  list-style: none !important;
  display: inline-block !important;
  margin: 10px;
  letter-spacing: 1px;
}

.card-body__link {
  display: block;
  float: right;
  color: #343a40;
  margin-left: 2px;
  text-align: left;
}

.card-body__link:hover {
  color: navy;
}

.card-body span {
  color: blue !important;
  font-weight: bold;
  margin-right: 3px;
}

.attendance__collapsible-card {
  width: 80% !important;
  margin: auto !important;
}

.card-body__link::first-letter {
  color: black;
  font-weight: bold !important;
}

@media (max-width: 1000px) {
}
