@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(
    to bottom right,
    rgba(12, 206, 206, 0.85),
    rgba(133, 10, 204, 0.85)
  );
  background-repeat: no-repeat;
  width: 100%;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.logo-wrapper {
  text-align: center;
  margin-top: 20%;
}

.register-form {
  width: 65%;
  padding: 15px;
  padding-top: 15px;
  margin: auto;
  margin-top: 20px !important;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);
  animation: 1s register-form;
}

.logo-wrapper-2 {
  text-align: center;
  margin-top: 20%;
}

.register-form-2 {
  width: 65%;
  padding: 15px;
  padding-top: 15px;
  margin: auto;
  margin-top: 20px !important;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);
  animation: 1s register-form;
}

.register-form__email,
.register-form__username,
.register-form__password,
.register-form__confirm-password,
.bylaw__input {
  font-size: 0.9rem !important;
  width: 90% !important;
  margin: auto !important;
  margin-top: 18px !important;
  border-radius: 0px !important;
  background-color: #f1f1f145 !important;
}

.register-form__submit,
.register-form__password-caption {
  margin: 18px;
  margin-left: 5%;
}

.register-form__password-caption {
  display: none;
  color: rgb(140, 1, 1);
  margin-top: 2px;
  font-size: 0.8rem;
}

.register-form__submit {
  width: 90% !important;
  background-color: rgb(1, 155, 1) !important;
  text-align: center !important;
}

.register-form__submit:hover {
  background-color: green !important;
}

.register-form__form-caption {
  font-size: 0.9rem;
  margin: auto;
  width: 90%;
  text-align: center;
}

#register-form__form-caption-link {
  color: rgb(2, 2, 152);
  text-decoration: underline;
}

.register-form__error-message {
  color: rgb(140, 1, 1);
  font-size: 0.8rem;
  margin-top: 0px !important;
  margin-left: 5%;
}

.back-arrow-wrapper {
  margin-top: 5px;
  margin-left: 5px;
  width: fit-content;
  opacity: 1;
}

.back-arrow-wrapper,
.back-arrow-wrapper:link,
.back-arrow-wrapper:visited {
  letter-spacing: 2px;
  font-size: 1.6rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.back-arrow-wrapper:hover,
.back-arrow-wrapper:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.register-page__writable-text {
  width: 60%;
  text-align: left;
  font-size: 1.8rem;
  margin: 10% auto 2% auto;
}

.register-form__input-caption {
  font-size: 0.8rem;
  width: 90%;
  margin: auto;
  text-align: left;
}

.register-form__email-sent {
  width: 90%;
  font-size: 0.9rem;
  margin-left: 5%;
}

.register-form__email-sent p {
  margin: 0px !important;
}

.register-form__check-icon {
  margin-left: 5px !important;
  margin-bottom: 3px !important;
}

@media (min-width: 1200px) {
  .register-form {
    margin-top: 15%;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .logo-wrapper {
    margin-top: 15%;
  }
}

@media (max-width: 1200px) and (orientation: portrait) {
  .logo-wrapper {
    margin-top: 20%;
  }
}

@media (max-width: 1200px) and (orientation: landscape) {
  .logo-wrapper-2 {
    margin-top: 12%;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  .logo-wrapper {
    margin-top: 6%;
  }
  .register-form {
    width: 90%;
  }
  .register-form-2 {
    width: 90%;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .logo-wrapper {
    margin-top: 0px;
  }
  .register-form {
    width: 85%;
  }
  html {
    height: fit-content;
    padding-bottom: 100px;
  }
}

/* @keyframes register-form {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 15%;
  }
} */
