@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: fit-content;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(
    to bottom right,
    rgba(12, 206, 206, 0.85),
    rgba(133, 10, 204, 0.85)
  );
  background-repeat: no-repeat;
  height: fit-content;
  width: 100%;
}

.bylaws-wrapper {
  animation: 2s bylaws;
  background-color: white;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  color: black;
  line-height: 2;
}

.main-footer {
  position: static;
}

.bylaws-title {
  text-align: center;
  color: black;
  font-size: 2rem;
  letter-spacing: 2px;
}

.bylaws-description {
  color: black;
  letter-spacing: 1px;
}

.bylaws-president__title,
.bylaws-speaker__title,
.bylaws-vice-president__title,
.bylaws-secretary__title,
.bylaws-treasurer__title {
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1rem;
}

.bylaw-elections,
.bylaw-challenges,
.bylaw-officer-rules,
.bylaw-member-information,
.bylaw-what-we-do {
  font-weight: bold;
  font-size: 1.1rem;
  color: black;
}

#bylaw-main-wrapper {
  padding: 0px !important;
}

.bylaw-edit-link {
  color: black !important;
  letter-spacing: 1px !important;
}

.bylaw-content-wrapper {
  margin-right: 20px;
  margin-left: 20px;
}

.bylaw-edit-link a {
  text-decoration: underline !important;
}

@keyframes bylaws {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 10%;
  }
}
