* {
  box-sizing: border-box;
}

html {
  height: 20000px;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(
    to bottom right,
    rgba(125, 213, 111, 0.85),
    rgba(40, 180, 135, 0.85)
  );
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
