* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.homepage-main__background-image {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../assets/images/homepage/nyc.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 94.1%;
  border: none;
  top: 5rem;
  left: 0px;
  -webkit-user-select: none;
  z-index: -2;
}

.homepage-opening-text {
  color: white;
  letter-spacing: 3px;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20%;
  animation: 1s slide-up-opening-text;
}

.writeable-club-text {
  color: white;
  letter-spacing: 5px;
  font-size: 2rem;
  text-align: center;
  margin-top: 20%;
  display: none;
  animation: 2s slide-up-opening-text;
}

.main-buttons-wrapper {
  margin: auto;
  text-align: center;
  padding: 30px;
  display: none;
  margin-top: 50px;
}

.homepage-btn--cta {
  width: 150px !important;
  margin-right: 15px !important;
  border-radius: 50px !important;
  padding: 15px !important;
}

@media (max-width: 800px) and (orientation: landscape) {
  .homepage-opening-text {
    margin-top: 15%;
  }
  .writeable-club-text {
    margin-top: 10%;
    animation: 1s slide-up-opening-text;
  }
  .main-buttons-wrapper {
    margin-top: 10px;
  }
}

@media (max-width: 500px) and (orientation: portrait) {
  .homepage-opening-text {
    margin-top: 30%;
  }
  .writeable-club-text {
    margin-top: 25%;
    animation: 2s slide-up-opening-text;
  }
  .main-buttons-wrapper {
    margin-top: 10px;
  }
  .homepage-btn--cta {
    width: 100%;
    margin-bottom: 20px;
  }
}

@keyframes slide-up-opening-text {
  from {
    margin-top: 100%;
  }

  to {
    margin-left: 0px;
  }
}
