@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(
    to bottom right,
    rgba(12, 206, 206, 0.85),
    rgba(133, 10, 204, 0.85)
  );
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.member {
  animation: 2s slide-up-member;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(
    to bottom right,
    rgba(12, 206, 93, 0.85),
    rgba(10, 204, 130, 0.85)
  );
  text-align: center;
}

.members-wrapper {
  text-align: center;
}

.member-name {
  color: white;
  box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);
}

.member-section {
  color: black;
  text-decoration: underline;
}

.search-wrapper {
  text-align: center;
  width: 60% !important;
  margin: 10% auto 5% auto;
}

.titles,
.hobbies,
.achievements {
  padding: 0px;
}

.scroll {
  position: fixed !important;
  top: 90% !important;
  left: 86% !important;
  border: 1px solid grey !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.scroll:last-of-type {
  top: 84.5% !important;
  border-bottom: none !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.member-search {
  width: 80% !important;
  display: inline-block !important;
  margin-right: -5px !important;
}

.member-name {
  box-shadow: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.search {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin-bottom: 2.5px !important;
}

.title,
.hobby,
.achievement {
  color: white;
  list-style: none;
}

.about {
  color: white;
}

.member-section:first-of-type {
  margin-top: 40px;
}

@keyframes slide-up-member {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 5%;
  }
}

@media (max-width: 1100px) and (orientation: landscape) {
  .scroll {
    top: 85% !important;
    left: 88% !important;
  }
  .scroll:last-of-type {
    left: 88% !important;
    top: 77.4% !important;
  }
}

@media (max-width: 750px) {
  .scroll,
  .scroll:last-of-type {
    display: none !important;
  }
}
