@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.staff__collapsible-card {
  width: 80% !important;
  margin: auto !important;
}

.collapsible-card-1 {
  margin-top: 2% !important;
}

.staff-title__section {
  width: 80% !important;
  margin: auto !important;
  margin-bottom: 5px !important;
  letter-spacing: 1px !important;
}

.club-advisor {
  margin-top: 10% !important;
}

.staff-title__span {
  font-weight: bold;
}

.staff-page__writeable-text {
  margin-left: 10%;
  margin-top: 10%;
  color: rgb(36, 36, 36);
  font-size: 1.5rem;
  letter-spacing: 3px;
}
