* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(
    to bottom right,
    rgba(12, 206, 206, 0.85),
    rgba(133, 10, 204, 0.85)
  );
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.website__header {
  color: white;
  letter-spacing: 2px;
  text-align: center;
  width: 80%;
  margin: 10% auto 10% auto;
}

.creator {
  color: black;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.website__images {
  width: 100%;
  text-align: center;
}

.img {
  width: 100px;
  height: 100px;
}

.website__img {
  list-style-type: none;
  margin-right: 10%;
  display: inline-block;
}

@media (max-width: 850px) {
  html {
    height: fit-content;
  }
}

@media (min-height: 1000px) {
  html {
    height: 100%;
  }
}
