<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field Trips</title>
    <%- include("../../includes/bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/entertainment/home.css">
    <link rel="stylesheet" href="/css/memberInformation.css" />
</head>
<body>
    <%- include("../../includes/navbar.ejs") %>
    <nav class="home-nav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" style="background-color: transparent !important; color: white !important; border: none !important;" href="/speakers-trips">Guest Speakers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white !important; border: 1px solid white !important;"href="/speakers-trips/trips">Field Trips</a>
            </li>
          </ul>
      </nav>
      <h2 style="color: white; text-align: center;">No Trips Yet :(</h2>
</body>
</html>