<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("../../../includes/bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/attendance" />
  </head>
  <body>
    <%- include("../../../includes/navbar.ejs") %> <%-
    include("../../../includes/attendanceNav.ejs") %>
    <div class="accordion" id="accordionExample">
      <div class="attendance__collapsible-card card collapsible-card-1">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Meeting One [ 10/1/2020 ]
            </button>
          </h2>
        </div>
        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <ul class="card-body__people">
              <li clas="card-body__person">
                <span>1)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>2)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>3)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>4)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>5)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>6)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>7)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>8)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>9)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>10)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>111)</span
                ><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>12)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>13)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>14)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>15)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>16)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>17)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>18)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>19)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>20)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>21)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>22)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>23)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>24)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>25)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>26)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>27)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>28)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>29)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>30)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>31)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>32)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>33)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>34)</span><a class="card-body__link">Alexander Khazzam</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="attendance__collapsible-card card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Meeting Two [ 10/8/2020 ]
            </button>
          </h2>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
      <div class="attendance__collapsible-card card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Collapsible Group Item #3
            </button>
          </h2>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
