@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: rgb(51, 49, 49);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.home-nav {
  width: 80% !important;
  margin: 5% auto 5% auto !important;
}

.search-movie {
  top: 100% !important;
}
