@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: rgb(51, 49, 49);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.home-nav {
  width: 80% !important;
  margin: 5% auto 5% auto !important;
}

.submission {
  width: 80% !important;
  margin-top: auto !important;
  position: relative !important;
}

.input-movie {
  display: inline-block !important;
  width: 80% !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  vertical-align: middle !important;
  margin-bottom: 3px !important;
}

.search-movie {
  display: inline-block !important;
  margin-left: -6px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  margin-bottom: 3px !important;
  vertical-align: middle !important;
}

.spinner-wrapper {
  display: inline-block !important;
  vertical-align: middle !important;
}

@media (max-width: 450px) and (orientation: portrait) {
  .input-movie {
    width: 75% !important;
  }
}
