<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bylaw DropBox</title>
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/authentication.css" />
    <link rel="stylesheet" href="/css/bylawDropbox.css" />
    <%- include("../../includes/bootstrap.ejs") %>
  </head>
  <body>
    <div class="back-arrow-wrapper">
      <a href="/attendance-submission">
        <img src="https://img.icons8.com/cotton/64/000000/circled-left--v2.png"/
        width="45" height="45" />
      </a>
    </div>
    <div class="logo-wrapper">
      <a class="main-nav__logo" href="/homepage"
        ><img src="/assets/icons/navbar/school-logo.png" height="75" width="75"
      /></a>
    </div>
    <form
      class="register-form"
      method="POST"
      action="/attendance-submission/generate-code"
    >
      <input
        required
        type="email"
        class="form-control register-form__confirm-password"
        placeholder="Email Address"
        name="email"
      />
      <% if (!emailStatus) { %>
      <p class="register-form__error-message">Must have a GNPS email address</p>
      <% } %> <% if (!emailUse) { %>
      <p class="register-form__error-message">That email is already in use.</p>
      <% } %>
      <input
        required
        type="text"
        class="form-control register-form__confirm-password"
        placeholder="First Name"
        name="firstName"
      />
      <input
        required
        type="text"
        class="form-control register-form__confirm-password"
        placeholder="Last Name"
        name="lastName"
      />
      <% if (!emailSent) { %>
      <button type="submit" class="btn btn-info register-form__submit">
        Generate Attendance Code
      </button>
      <% } else { %>
      <div
        class="alert alert-success register-form__email-sent"
        role="alert"
        style="margin-top: 15px"
      >
        <p class="register-form__form-caption">
          Attendance code generated successfully! An email has been sent to you
          with information regarding your code.
        </p>
      </div>
      <% } %>
    </form>
  </body>
</html>
