<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment: home</title>
    <%- include("../../includes/bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/entertainment/home.css">
    <script type="text/javascript">
      function showLoadingSpinner() {
        document.querySelector('.spinner-wrapper').style.display = 'block';
      }
    </script>
</head>
<body>
    <%- include("../../includes/navbar.ejs") %>
    <nav class="home-nav">
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" style="background-color: transparent !important; color: white !important;" href="/entertainment">Entertainment Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;"href="/entertainment/movie-searcher">Movie Searcher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;"href="/entertainment/countries">Country Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;"href="/entertainment/covid">COVID Cases</a>
          </li>
        </ul>
    </nav>
    <div style="text-align: center; width: 80%; margin: auto; height: 100%">
      <% if (showMotion)  { %>
        <iframe frameborder="0" width="100%" height="25%" 
        src="https://www.dailymotion.com/embed/video/x7tgad0" 
        allowfullscreen 
        allow="autoplay; fullscreen">
      </iframe>
        <% } %>
    <form action="/entertainment" method="POST" onsubmit="showLoadingSpinner()">
      <div class="form-group">
        <div style="position: relative;">
          <input type="search" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Suggestions..." style="font-size: 15px !important; color: black !important; margin-top: 30px; display: inline-block !important; width: 70% !important; border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important;" required name="email">
          <button type="submit" class="btn btn-info" style="display: inline-block !important; border-bottom-left-radius: 0px !important; border-top-left-radius: 0px !important; margin-left: -5px !important;  margin-bottom: 3px !important;">Send</button>
          <div class="spinner-wrapper" style="text-align: center; display: none; position: absolute; top: 30px; right: 15px;">
            <div
              id="loading-spinner"
              class="spinner-border text-primary"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <small id="emailHelp" class="form-text text-muted" style="color: white !important;">Is there anything else we should add to the entertainment page?</small>
      </div>
    </form> 
  </div>
</body>
</html>