<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment: home</title>
    <%- include("../../includes/bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/entertainment/home.css">
    <script>
    </script>
</head>
<body>
    <%- include("../../includes/navbar.ejs") %>
    <nav class="home-nav">
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" style="background-color: transparent !important; color: white !important;" href="/entertainment">Entertainment Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;"href="/entertainment/movie-searcher">Movie Searcher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;"href="/entertainment/countries">Country Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;"href="/entertainment/covid">COVID Cases</a>
          </li>
        </ul>
    </nav>
    <div style="text-align: center; width: 80%; margin: auto; height: 100%">
      <iframe frameborder="0" width="100%" height="20%" 
      src="https://www.dailymotion.com/embed/video/x7tgad0" 
      allowfullscreen 
      allow="autoplay; fullscreen">
    </iframe> 
      <div class="progress" style="height: 30px;  margin-top: 20px;  width: 100%; position: relative;">
          <div class="progress-bar progress-bar-striped progress-bar-animated movie-searcher-task-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" style="width: 0.5%;" aria-valuemax="100">1</div>
        <p style="margin-top: 5px; position: absolute; right: 50px;">Movie Searcher</p>
          <button style="position: absolute; right: 0px; border: none;"><img src="https://img.icons8.com/nolan/64/thumb-up.png" width="30px" height="30px" type="submit"/></button>
      </div>
      <div class="progress" style="height: 30px;  margin-top: 20px;  width: 100%; position: relative;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" style="width: 0.5%;" aria-valuemax="100">1</div>
        <p style="margin-top: 5px; position: absolute; right: 50px;">Country Information</p>
        <button style="position: absolute; right: 0px; border: none;"><img src="https://img.icons8.com/nolan/64/thumb-up.png" width="30px" height="30px"/></button>
      </div>
      <div class="progress" style="height: 30px; margin-top: 20px; width: 100%; position: relative;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" style="width: 0.5%;" aria-valuemax="100">1</div>
        <p style="margin-top: 5px; position: absolute; right: 50px;">COVID Cases</p>
        <button style="position: absolute; right: 0px; border: none;"><img src="https://img.icons8.com/nolan/64/thumb-up.png" width="30px" height="30px"/></button>
      </div>
  </div>
</body>
</html>