<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="/js/client/contact/js" defer></script>
    <link rel="stylesheet" href="/css/authentication.css" />
    <%- include("../../includes/bootstrap.ejs") %>
  </head>
  <body>
    <div class="back-arrow-wrapper">
      <a href="/homepage">
        <img src="https://img.icons8.com/cotton/64/000000/circled-left--v2.png"/
        width="45" height="45" />
      </a>
    </div>
    <div class="logo-wrapper-2">
      <a class="main-nav__logo" href="/homepage"
        ><img src="/assets/icons/navbar/school-logo.png" height="75" width="75"
      /></a>
    </div>
    <form class="register-form-2" method="POST" action="/secure/login">
      <input
        required
        type="email"
        name="email"
        class="form-control register-form__email"
        placeholder="Email"
      />
      <% if (!login) { %>
      <p class="register-form__error-message">Invalid Email or Password</p>
      <% } %>
      <input
        required
        name="password"
        type="password"
        class="form-control register-form__password"
        placeholder="Password"
      />
      <% if (!login) { %>
      <p class="register-form__error-message">Invalid Email or Password</p>
      <% } %>
      <button type="submit" class="btn btn-info register-form__submit">
        Login
      </button>
      <p class="register-form__form-caption">
        Don't have an account? Click
        <a id="register-form__form-caption-link" href="/secure/register"
          >Here</a
        >
        to register.
      </p>
    </form>
  </body>
</html>
