<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/authentication.css" />
    <%- include("../../includes/bootstrap.ejs") %>
  </head>
  <body>
    <form class="register-form">
      <input
        required
        type="email"
        class="form-control register-form__email"
        placeholder="Email"
      />
      <input
        required
        type="password"
        class="form-control register-form__password"
        placeholder="Password"
      />
      <button type="submit" class="btn btn-info register-form__submit">
        Login
      </button>
      <p class="register-form__form-caption">
        Don't have an account? Click
        <a id="register-form__form-caption-link" href="/register">Here</a> to
        register.
      </p>
    </form>
  </body>
</html>
