<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/authentication.css" />
    <%- include("../../includes/bootstrap.ejs") %>
  </head>
  <body>
    <form class="register-form" method="POST" action="/register">
      <input
        required
        type="email"
        class="form-control register-form__email"
        placeholder="Email"
        name="email"
      />
      <p class="register-form__error-message">
        <% if (queryEmail) { %> Must have a Great Neck Public School email
        address. <% } %>
      </p>
      <input
        required
        type="text"
        class="form-control register-form__username"
        placeholder="Create a Username"
        name="createUsername"
      />
      <input
        required
        type="password"
        class="form-control register-form__password"
        placeholder="Create a Password"
        name="password"
      />
      <input
        required
        type="password"
        class="form-control register-form__confirm-password"
        placeholder="Confirm Password"
        name="confirmPassword"
      />
      <p class="register-form__error-message">
        <% if (!accountCreated) { %> <% if (queryLength) { %> Password must be
        at least 7 characters. <% } else if (querySymbol) { %> Password must not
        include symbols. <% } else if (queryMatch) { %> Passwords must match. <%
        } else if (queryCapital) { %> Password must include an upper case
        character. <% } else if (queryNumber) { %> Password must include a
        number. <% } else if (queryMaxLimit) { %> Password cannot not exceed 30
        characters. <% } %><% } %>
      </p>
      <% if (emailSent) { %>
      <div class="alert alert-success register-form__email-sent" role="alert">
        <p class="" role="alert">
          Registration approved! Click the link that was sent to you to confirm
          your email address.
        </p>
      </div>
      <% } else { %>
      <button type="submit" class="btn btn-info register-form__submit">
        Register
      </button>
      <% } %>
      <p class="register-form__form-caption">
        Already have an account? Click
        <a id="register-form__form-caption-link" href="/login">Here</a> to
        login.
      </p>
    </form>
  </body>
</html>
