<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("../../includes/bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/attendance" />
  </head>
  <body>
    <%- include("../../includes/navbar.ejs") %> <%-
    include("../../includes/attendanceNav.ejs") %>
    <div class="accordion" id="accordionExample">
      <div class="attendance__collapsible-card card collapsible-card-1">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Meeting One [ 10/1/2020 ]
            </button>
          </h2>
        </div>
        <div
          id="collapseOne"
          class="collapse"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <ul class="card-body__people">
              <li clas="card-body__person">
                <span>1)</span
                ><a class="card-body__link" href="/members/Alexander-Khazzam">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>2)</span
                ><a class="card-body__link" href="/members/Addison-Klebanov">Addison Klebanov</a>
              </li>
              <li clas="card-body__person">
                <span>3)</span
                ><a class="card-body__link" href="/members/Alice-Yang">Alice (Qining) Yang</a>
              </li>
              <li clas="card-body__person">
                <span>4)</span><a class="card-body__link" href="/staff-members/Anna-Han">Anna Han</a>
              </li>
              <li clas="card-body__person">
                <span>4)</span
                ><a class="card-body__link" href="/members/Brandon-Tehrani">Brandon Tehrani</a>
              </li>
              <li clas="card-body__person">
                <span>5)</span
                ><a class="card-body__link" href="/members/Brandon-Torkian">Brandon Torkian</a>
              </li>
              <li clas="card-body__person">
                <span>6)</span
                ><a class="card-body__link" href="/members/Brian-Asnadi">Brian Asnadi</a>
              </li>
              <li clas="card-body__person">
                <span>7)</span
                ><a class="card-body__link" href="/members/Debra-Davidson">Debra Davidson</a>
              </li>
              <li clas="card-body__person">
                <span>8)</span
                ><a class="card-body__link" href="/members/Dylan-Yaghoutiel">Dylan Yaghoutiel</a>
              </li>
              <li clas="card-body__person">
                <span>9)</span
                ><a class="card-body__link" href="/members/Eden-Monhian">Eden Monhian</a>
              </li>
              <li clas="card-body__person">
                <span>10)</span
                ><a class="card-body__link" href="/members/Eden-Fouladi">Eden Fouladi</a>
              </li>
              <li clas="card-body__person">
                <span>11)</span
                ><a class="card-body__link" href="/members/Eden-Reznik">Eden Reznik</a>
              </li>
              <li clas="card-body__person">
                <span>12)</span
                ><a class="card-body__link" href="/members/Ethan-Kane">Ethan Kane</a>
              </li>
              <li clas="card-body__person">
                <span>13)</span
                ><a class="card-body__link" href="/members/Gabriella-Paknoush">Gabbriella Paknoush</a>
              </li>
              <li clas="card-body__person">
                <span>14)</span
                ><a class="card-body__link" href="/members/Ilan-Rastegar">Ilan Rastegar</a>
              </li>
              <li clas="card-body__person">
                <span>15)</span
                ><a class="card-body__link" href="/members/Jarett-Yousefzadeh">Jarett Yousefzadeh</a>
              </li>
              <li clas="card-body__person">
                <span>16)</span
                ><a class="card-body__link" href="/members/Jared-Kimiabash">Jared Kimiabash</a>
              </li>
              <li clas="card-body__person">
                <span>17)</span
                ><a class="card-body__link" href="/members/Jonathan-Moalemi">Jonathan Moalemi</a>
              </li>
              <li clas="card-body__person">
                <span>18)</span
                ><a class="card-body__link" href="/members/Josh-Hagani">Josh Hagani</a>
              </li>
              <li clas="card-body__person">
                <span>19)</span
                ><a class="card-body__link" href="/members/Joseph-Edelmen">Joseph Edelmen</a>
              </li>
              <li clas="card-body__person">
                <span>20)</span
                ><a class="card-body__link" href="/members/Kalyn-Jones">Kalyn Jones</a>
              </li>
              <li clas="card-body__person">
                <span>21)</span
                ><a class="card-body__link" href="/members/Leon-Asnadi">Leon Asnadi</a>
              </li>
              <li clas="card-body__person">
                <span>22)</span
                ><a class="card-body__link" href="/members/Liam-Kashinejad">Liam Kashinejad</a>
              </li>
              <li clas="card-body__person">
                <span>23)</span
                ><a class="card-body__link" href="/members/Luke-Cronin">Luke Cronin</a>
              </li>
              <li clas="card-body__person">
                <span>24)</span
                ><a class="card-body__link" href="/members/Maya-Glassman">Maya Glassman</a>
              </li>
              <li clas="card-body__person">
                <span>25)</span
                ><a class="card-body__link" href="/members/Michael-Chan">Michael Chan</a>
              </li>
              <li clas="card-body__person">
                <span>26)</span
                ><a class="card-body__link" href="/members/Moshe-Saghirnejad">Moshe Saghirnejad</a>
              </li>
              <li clas="card-body__person">
                <span>27)</span
                ><a class="card-body__link" href="/members/Remi-Gilardian">Remi Gilardian</a>
              </li>
              <li clas="card-body__person">
                <span>28)</span
                ><a class="card-body__link" href="/members/Ryan-Rokshar">Ryan Rokshar</a>
              </li>
              <li clas="card-body__person">
                <span>29)</span
                ><a class="card-body__link" href="/members/Zachary-Astrof">Zachary Astrof</a>
              </li>
              <li clas="card-body__person">
                <span>30)</span
                ><a class="card-body__link" href="/members/Zachary-Zieglar">Zachary Zieglar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="attendance__collapsible-card card collapsible-card-2">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block text-left"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="true"
              aria-controls="collapseTwo"
            >
              Meeting One [ 10/1/2020 ]
            </button>
          </h2>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <ul class="card-body__people">
              <li clas="card-body__person">
                <span>1)</span
                ><a class="card-body__link" href="#">Alexander Khazzam</a>
              </li>
              <li clas="card-body__person">
                <span>2)</span
                ><a class="card-body__link" href="#">Jonathan Moalemi</a>
              </li>
              <li clas="card-body__person">
                <span>3)</span
                ><a class="card-body__link" href="#">Ethan Kane</a>
              </li>
              <li clas="card-body__person">
                <span>4)</span
                ><a class="card-body__link" href="#">Ilan Rastegar</a>
              </li>
              <li clas="card-body__person">
                <span>5)</span
                ><a class="card-body__link" href="#">Leon Asnadi</a>
              </li>
              <li clas="card-body__person">
                <span>6)</span
                ><a class="card-body__link" href="#">Liam Kashinejad</a>
              </li>
              <li clas="card-body__person">
                <span>7)</span
                ><a class="card-body__link" href="#">Zachary Zieglar</a>
              </li>
              <li clas="card-body__person">
                <span>8)</span
                ><a class="card-body__link" href="#">Zachary Astrof</a>
              </li>
              <li clas="card-body__person">
                <span>9)</span
                ><a class="card-body__link" href="#">Addison Klebanov</a>
              </li>
              <li clas="card-body__person">
                <span>10)</span
                ><a class="card-body__link" href="#">Dylan Yaghoutiel</a>
              </li>
              <li clas="card-body__person">
                <span>111)</span
                ><a class="card-body__link" href="#">Brandon Tehrani</a>
              </li>
              <li clas="card-body__person">
                <span>12)</span
                ><a class="card-body__link" href="#">Luke Cronin</a>
              </li>
              <li clas="card-body__person">
                <span>13)</span
                ><a class="card-body__link" href="#">Brian Asnadi</a>
              </li>
              <li clas="card-body__person">
                <span>14)</span
                ><a class="card-body__link" href="#">Brandon Torkian</a>
              </li>
              <li clas="card-body__person">
                <span>15)</span
                ><a class="card-body__link" href="#">Debra Davidson</a>
              </li>
              <li clas="card-body__person">
                <span>16)</span
                ><a class="card-body__link" href="#">Michael Chan</a>
              </li>
              <li clas="card-body__person">
                <span>17)</span
                ><a class="card-body__link" href="#">Moshe Saghirnejad</a>
              </li>
              <li clas="card-body__person">
                <span>18)</span
                ><a class="card-body__link" href="#">Ryan Rokshar</a>
              </li>
              <li clas="card-body__person">
                <span>19)</span
                ><a class="card-body__link" href="#">Jarett Yousefzadeh</a>
              </li>
              <li clas="card-body__person">
                <span>20)</span
                ><a class="card-body__link" href="#">Qining Yang (Alice)</a>
              </li>
              <li clas="card-body__person">
                <span>21)</span
                ><a class="card-body__link" href="#">Eden Reznik</a>
              </li>
              <li clas="card-body__person">
                <span>22)</span
                ><a class="card-body__link" href="#">Eden Monhian</a>
              </li>
              <li clas="card-body__person">
                <span>23)</span
                ><a class="card-body__link" href="#">Josh Hagani</a>
              </li>
              <li clas="card-body__person">
                <span>24)</span><a class="card-body__link" href="#">Anna Han</a>
              </li>
              <li clas="card-body__person">
                <span>25)</span
                ><a class="card-body__link" href="#">Gabbriella Paknoush</a>
              </li>
              <li clas="card-body__person">
                <span>26)</span
                ><a class="card-body__link" href="#">Eden Fouladi</a>
              </li>
              <li clas="card-body__person">
                <span>27)</span
                ><a class="card-body__link" href="#">Remi Gilardian</a>
              </li>
              <li clas="card-body__person">
                <span>28)</span
                ><a class="card-body__link" href="#">Maya Glassman</a>
              </li>
              <li clas="card-body__person">
                <span>29)</span
                ><a class="card-body__link" href="#">Jared Kimiabash</a>
              </li>
              <li clas="card-body__person">
                <span>30)</span
                ><a class="card-body__link" href="/">Joseph Edelmen</a>
              </li>
              <li clas="card-body__person">
                <span>31)</span
                ><a class="card-body__link" href="#/"><span>Kalyn Jones</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>